<div class="back-page-button">
  <button mat-button (click)="_previousPage()">Retour aux classements</button>
</div>

<div class="leaderboards left-leaderboards">
  <app-leaderboard-item
    class="leaderboard-item"
    *ngFor="let leaderboard of subLeaderboardsCategories"
    [item]="_getLeaderboardItem(leaderboard)"
    (openLeaderboard)="_onOpenLeaderboard($event)"
  ></app-leaderboard-item>
</div>

<div class="leaderboards left-leaderboards">
  <app-leaderboard-item
    class="leaderboard-item"
    *ngFor="let leaderboard of subLeaderboardsTypeCategories"
    [item]="_getLeaderboardItem(leaderboard)"
    (openLeaderboard)="_onOpenLeaderboard($event)"
  ></app-leaderboard-item>
</div>

<div class="leaderboards left-leaderboards">
  <app-leaderboard-item
    class="leaderboard-item"
    *ngFor="let leaderboard of subLeaderboardsClassCategories"
    [item]="_getLeaderboardItem(leaderboard)"
    (openLeaderboard)="_onOpenLeaderboard($event)"
  ></app-leaderboard-item>
</div>

<div class="leaderboards left-leaderboards">
  <app-leaderboard-item
    class="leaderboard-item"
    *ngFor="let leaderboard of subLeaderboardsFunCategories"
    [item]="_getLeaderboardItem(leaderboard)"
    (openLeaderboard)="_onOpenLeaderboard($event)"
  ></app-leaderboard-item>
</div>
