<form>
  <div class="form-input">
    <label>Pseudo</label>
    <input type="text" name="username" [(ngModel)]="formData.username" />
  </div>

  <div class="form-input">
    <label>URL Vidéo</label>
    <input type="text" name="videoUrl" [(ngModel)]="formData.videoUrl" />
  </div>

  <div class="form-input">
    <label>Temps</label>
    <input type="time" name="duration" [(ngModel)]="formData.duration" />
  </div>

  <div class="form-input">
    <button mat-button [mat-dialog-close]="formData">
      Soumettre le record
    </button>
  </div>
</form>
